/* 
reset
 */
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   font-family: "PT Sans", sans-serif; 
}

/* 
general
 */

 .container{
    max-width: 1000px;
    margin: 0 auto ;
 }

 a{
   color: white;
   text-decoration: none;
 }

 nav ul{
   list-style: none;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
 }

 nav ul li{
   padding-left: 10px;
 }

 .my-button{
   padding: 10px 15px;
   border-radius: 30px;
 }

 .opacity{
   opacity: 0.9;
 }

 .my-row{
   display: flex;
   flex-wrap: wrap;



 } 

 .my-col{
  width: 100% ;


 }



 .card{
   background-color: #B5DDFF;
   border-radius: 15px;
   padding: 10px;
   margin-bottom: 5px;
 }


 /************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */


 /************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
 header{
    background-color: #0084FD;
    color: white;
    padding: 5px 0 ;
   }

 .header-container{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
 }

 .header-container a strong{
   font-size: 2rem;
 }

 .logo{
   font-size: 2rem;
   font-weight: bold;
 }

 .menu-desktop{
   display: none;
 }

 /*  MAIN */
 main > section{
   padding: 40px 0;
 }
 /*  SECTION */


 /************************************************
    RESPONSIVE
 ************************************************/
/* MOBILE FIRST  */

 /* TABLET */

 @media screen and  ( min-width: 576px ){

  
   .menu-mobile{
      display: block;
   }

   .menu-desktop{
      display: none;
   }

   .my-col-1-3{
    width: calc( 100% / 3 );
   }

   .my-col-2-3{
    width: calc(( 100% / 3 ) * 2 ) ;
   }

   }

   
 
  

 /* DESKTOP */
 @media screen and  ( min-width: 992px ){
  
  .menu-mobile{
      display: none;
   }
   .menu-desktop{
      display: block;
   }
 }
