/* 
reset
 */
  
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   font-family: "PT Sans", sans-serif; 
}

/* 
general
 */
 :root {
  /* Custom properties ( oppure variabili) */
  --color-blue: #0084FD ;
 }

 .container{
    max-width: 1000px;
    margin: 0 auto ;
    padding: 0 -20px;
 }

 a{
   color: white;
   text-decoration: none;
 }

 nav ul{
   list-style: none;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
 }

 nav ul li{
   padding-left: 10px;
 }

 .my-button{
   padding: 10px 15px;
   border-radius: 30px;
   border: none;
   cursor: pointer;
 }

 .opacity{
   opacity: 0.9;
 }

 .my-row{
   display: flex;
   flex-wrap: wrap;

 } 

 .my-col{
  width: 100% ;
  margin-left: 10px;
  margin-right: 10px;
 }

 .card{
   background-color: #B5DDFF;
   border-radius: 15px;
   padding: 10px 60px;
   margin-bottom: 15px;
   text-align: center;
   padding-top: 20px;
   line-height: 2rem;
 }

 img{
  max-width: 100%;
 }

 .display-flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
 }




 /************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */


 /************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
 header{
    background-color: var(--color-blue);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   }

 .header-container{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   margin-right: 10px;
   margin-left: 10px;
 }

 .header-container a strong{
   font-size: 2rem;
 }

 .logo{
   font-size: 2rem;
   font-weight: bold;
 }

 .menu-desktop{
   display: none;
 }

 /*  MAIN */
 main > section{
   padding: 40px 0;
 }
 /*  SECTION INTRO  */
.card h4, .card i {
  color: var(--color-blue);
}

.card h4{
  font-size: 1.3rem;
}
.my-button-blue{
  background-color: var(--color-blue);
  color: white;
  padding: 10px 60px;
}
.card a button i{
  color: white;
  margin-right: 5px;
}

.card > *, .my-col-2-3 .card div > * {
  padding-bottom: 20px;
 }

 .card > i {
  font-size: 3rem;
 }

 .my-col-2-3 .card:first-child{
  text-align: left;
 }

.my-col-2-3 .card div img{
  height: 300px;
  margin-bottom: -60px;
 } 
  

  /*  SECTION   */


 /************************************************
    RESPONSIVE
 ************************************************/
/* MOBILE FIRST  */

 /* TABLET */

 @media screen and  ( min-width: 576px ){

  
   .menu-mobile{
      display: block;
   }

   .menu-desktop{
      display: none;
   }

   .my-col-1-3{
    width: calc((100% / 3) - 20px )  ;
   }

   .my-col-2-3{
    width: calc(((100% / 3 ) * 2 ) - 20px ) ;
   }

   .my-col-2-3 .card:first-child{
    text-align: left;
   }
   .card{
    padding-left: 15px;
    padding-right: 15px;
   }
    
  .display-flex-tablet{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .height-card{
    height: 97% ;
   }

 
   }


 /* DESKTOP */
 @media screen and  ( min-width: 992px ){
  
  .menu-mobile{
      display: none;
   }
   .menu-desktop{
      display: block;
   }

   .my-row .my-col-2-3 .display-flex-desktop{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .container .my-row .my-col-2-3 .card div img{
    max-width: 300px;
   } 

   .height-card{
    height: 87% ;
   }
  

 }
